*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-decoration: none;
    /* background: rgb(155, 87, 87); */
}
::selection{
    color: #fff;
    background: #8e8e8e;
}
::-webkit-scrollbar{
    width: 10px;
   
}
::-webkit-scrollbar-track{
    
    background: rgb(138, 138, 138);
}
::-webkit-scrollbar-thumb{
    background: rgb(206, 206, 206);
    border-radius: 5px;
}
.header{
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 15px 5%;
    background: #fff;
}
.logo{
    padding: 0;
}
.logo img{
    /* width: 50px; */
    align-self: center;
    
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 0 0 55px;
    background: transparent;
}
/* dropdown-Styling */
/* select{
    border: 0;
}
select:focus{
    outline: none;
} */
/* Dropdown styles */
.dropdown {
    position: relative;
    display: inline-block;
    /* margin-right: 20px; */
}

.dropdown-toggle {
    display: none;
}

.dropdown-label {
    display: flex;
    cursor: pointer;
    align-items: center;
    font-size: 0.9em;
    gap: 10px;
}

.dropdown-list {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: #ffffff;
    list-style-type: none;
    text-align: center;
    transition: all .4s ease-in-out;
    box-shadow: 0 0 5px 0 black;
    padding: 5px;
}

.dropdown-item {
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    display: flex;
    gap: 10px;
    text-align: left;
}

.dropdown-item:hover {
    background-color: #e0e0e0;
}

.dropdown-toggle:checked + .dropdown-label + .dropdown-list {
    display: block;
}
#dropdown-toggle-2:checked + .dropdown-label img {
    transform: rotate(180deg);
    transition: all .4s ease-in-out;
}
#dropdown-toggle-1:checked + .dropdown-label img {
    transform: rotate(180deg);
    transition: all .4s ease-in-out;
}
/* //////////////////// */
.links{
    display: flex;
    align-items: center;
    background: transparent;
}
.links li{
    padding: 0 10px;
    background: transparent;
}
.links li a{
    color: #000;
    font-size: 0.9em;
    background-color: transparent;
}
li .btns{
    display: flex;
    justify-content: space-between;
    background: transparent;

    
}
li .buttons{
    background: transparent;
}
#navigationToggle {
    display: none;
}

.toggleBar {
    display: none;
    cursor: pointer;
    z-index: 9;
    background-color: transparent;
}

button{
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: transparent;
    cursor: pointer;
    margin: 0 20px;
}
button:last-child{
    border: 2px solid #000;
    background: transparent;
}

.bar {

    width: 30px;
    height: 3px;
    background: #000;
    border-radius: 5px;
    margin: 5px;
    transition: all .4s ease-in-out;
}
.btns-hide{
    display: none;
}
.btns-show{
    display: block;
}

@media (max-width: 767px) {
    .navigation{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .toggleBar {
        display: block;
        cursor: pointer;
    }
    #navigationToggle:checked ~ .toggleBar .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #navigationToggle:checked ~ .toggleBar .bar:nth-child(2) {
        opacity: 0;
    }
    #navigationToggle:checked ~ .toggleBar .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
  
        .links{
        position: fixed;
        z-index: 9;
        right: 0;
        right: -100%;
        top: 0;
        padding: 20px;
        bottom: 0px;
        width: 250px;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        background: rgb(248, 248, 248);
        overflow: hidden;
        box-sizing: border-box;
        transition: all .4s ease-in;
        align-items: center;
        box-shadow: 0 0 50px#000000;
    }
    li .btns{
        display: flex;
        flex-direction: column;
    }
    .btns-hide{
        display: block;
    }
    .btns-show{
        display: none;
    }


}

.info{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0 15%;
    gap: 100px;
    height: 100vh;
}
.leftContainer{
    padding: 0 15px 0 0;
}
.leftContainer h1{
    font-size: 4em;
    /* padding: 15px 0; */
}
.leftContainer p{
    color: rgb(169, 169, 169);
    padding: 30px 26% 40px 0;
}
.infoBtn{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid #000;
    background: #000;
    color: #fff;
    font-size: 1em;
    transition: all .4s ease-in-out;
    cursor: pointer;
    margin: 0 0 25px 0;
}
.infoBtn:hover{
    background: transparent;
    color: #000;
}
.images{
    margin: 10px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.images img{
    width: 75px;
}
.rightContainer{
    background: url(Assets/Images/image-hero-desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size :contain;
    width: 360px;
    height: 500px;
}
.rightContainer{
    padding: 200px;
}

.attribution{ 
    /* position: absolute; */
    bottom: 5px;
    left: 0;
    right: 0;
    font-size: 12px; 
    text-align: center; 
}
.attribution a{ 
    color: #3e52a3; 
}
@media (max-width: 767px) {
    .info{
        flex-direction: column;
        height: auto;
        text-align: center;
        gap: 0;
        padding: 5% 0;
    }
    .leftContainer{
        padding: 20px;
    }
    .leftContainer p{
        padding: 10px 0;
    }
    .leftContainer h1{
        font-size: 1.5em;
        padding: 0;
    }
    .rightContainer{
        background: url(Assets/Images/image-hero-mobile.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size:contain;
        height: 50vh;
        width: auto;
    }
    .dropdown-list {
        display: none;
        position: static;
        z-index: 1000;
        background: rgb(248, 248, 248);
        list-style-type: none;
        text-align: center;
        transition: all .4s ease-in-out;
        box-shadow: none;
        padding: 10px;
    }
    
}
@media (max-width:330px) {
    .rightContainer{
        background: url(Assets/Images/image-hero-mobile.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
        height: 50vh;
    }
}